/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  height: 10vh;
}
.logo {
  display: flex;
  height: 30px;
  justify-content: left;
  cursor: pointer;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  font-size: 20px;
}
.nav-links li a:hover {
  color: red;
  font-size: 30px;
}

/* end header navigation css */
/* header & Footer */
header,
footer {
  display: flex;
  background-color: #101010;
  width: 100%;
  color: white;
  margin-right: 20px;
}
/* end header & Footer */
/*footer section*/
footer {
  height: 15vh;
  bottom: 0;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 20px;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #bd5d38;
}
.dev-icons {
  font-size: 3rem;
}

/* end footer css */
