* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Saira Extra Condensed";
  font-weight: 600;
  background-color: rgb(rgb(14, 11, 11), rgb(19, 36, 19), rgb(12, 12, 17));
}
